body{
    background-color:whitesmoke;
    src:url(https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/fonts/fontawesome-webfont.ttf);
    font-family: "FontAwesome";
    margin: 0;
    text-decoration: none;
}
a{
    text-decoration: none;
    
}
h2{
    color: #333;
    text-decoration: none;
}
ul{
    list-style: none;
    }
.background{
    background-image:url("../img/background/day.jpg");
    position: fixed;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -100;
}
::-webkit-scrollbar {
    width: 1px;
    background-color: #f5f5f511;
    transition: width 2s;

}
::-webkit-scrollbar:hover{
    width: 10px;
}
::-webkit-scrollbar{
    color: rgba(0, 0, 0, 0);
}
    

::-webkit-scrollbar-thumb {
    background-color:rgba(120, 120, 120, 0.4);
}
/* a{
    padding: 7px 18px;
    display: block;
    font-weight: 400;
} */
.header{
    position: fixed;
    width: 100%;
    background-color: rgba(95, 95, 93, 0.2);
    backdrop-filter: blur(2px);
    z-index: 100;
}
.header-menu{
    display: flex;
    margin: 0;
    padding: 0;
}
.header-menu-list{
    color: white;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: -1em;
    font-size: xx-large;
}

.header-menu-home{
    color: white;
    display: flex;
    margin: auto;
    font-size: xx-large;
    justify-content: space-between;
}

.header-menu-search{
    color: white;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    font-size: xx-large;
}

.header-menu li{
    color: white;
}




.placeholder{
    height: 4em;
    width: 100%;
}
.container{
    animation-name: ContainerAnimation;
    animation-timing-function: ease;
    animation-duration: 3s;
}
.container-main{
    margin: 4mm;
    background-color:#eaf4fc;
    border-radius: 5px;
    animation-name: ContainerAnimation;
    animation-timing-function: ease;
    animation-duration: 3s;
}
.container-main-article{
    margin-top: 0.2em;
    animation-name: ContainerAnimation;
    animation-timing-function: ease;
    animation-duration: 3s;
}
.container-main-article-row{
    padding: 1em;
    animation-name: ContainerAnimation;
    animation-timing-function: ease;
    animation-duration: 3s;
}
.container-main-article-row-detailed{
    font-size: 14px;
    text-align:start;
    color: #333;
}
.container-main-article-row-detailed-live{
    color: #333;
}

.container-main-article-row-detailed-live-act{
    color: #333;
    float: right;
    font-size: 1.5em;
}





@keyframes ContainerAnimation{
    0% {opacity: 0;margin-top: 10em;}
    100% {opacity: 1;margin-top: 0.2em;}
}


















.footer-about{
    background-color: rgb(35, 40, 40,.35);
    text-align: center;
}
.footer-about-container{
    color: rgba(255, 255, 255, .8);
}































.aplayer{
    z-index: 20;
    opacity: .65;
    transition: opacity 2.5s;
}.aplayer:hover{
    opacity: .8;
}