h3{
    text-shadow: 2px 2px 5px #f3f3f3;
}
.placeholder{
    height: 4em;
    width: 100%;
}
.container{
}
.container-main{
    margin-top: 4mm;
    margin-right: 4mm;
    margin-bottom: 4mm;
    margin-left: 4mm;
    background-color:#ffffff;
    animation-name: ContainerAnimation;
    animation-timing-function: ease;
    animation-duration: 2.5s;
}
.container-main-article{
    border: solid 1px #f3f3f3;
    
    transition: box-shadow .5s;
}.container-main-article:hover{
    box-shadow: 4px 6px 10px 0px rgba(0,0,0,0.5);
}

.container-main-article-row{
}
.container-main-article-row-img{
    height: auto;
    max-width: 100%;
    width: 100%;
}
.container-main-article-row-detailed{
    border-top: solid 1px #f3f3f3;
    padding: 1em;
    text-align: center;
    color: #333;
    font-size: initial;
}
.container-main-article-row-detailed-time{
    
    padding-left: 0;
    color: #333;
    
}
.container-main-article-row-detailed-Read{

    color: #333;
}
.container-main-article-row-detailed-live{

    color: #333;
}

.container-main-article-row-detailed-live-act{
    color: #333;
    float: right;
    font-size: 1.5em;
}





@keyframes ContainerAnimation{
    0% {opacity: 0;margin-top: 10em;}
    100% {opacity: 1;margin-top: 4mm;}
}



.no{
    color: white;
    text-align: center;
}