.body{
    word-wrap:break-word;
}
.placeholder{
    height: 3em;
}
.main{
    margin-left: 2em;
    margin-right: 2em;
}
h2{
    padding-top: 1em;
    padding-bottom: 8px;
}
h3{
    border-left: 6px #51aded solid;
    padding: 8px;
}
section{
    margin-bottom: 1em;
    padding: 0;
    border: 1px solid #e5e9ef;
}
section ul{
    padding: 0;
    margin-left: 1em;
}
textarea{
    background: #eee;   
    background-color: transparent;
    border: 1px solid #ccc;
    font-family: '等线';
    font-size: 16px;
    resize:none;
}





p{
    padding: 10px;
    font-size: 16px;
}
.container{
    padding-bottom: 1em;
    background-color: #f5f5f5;
    max-width: 100%;
    box-shadow: 4px 6px 10px 4px rgba(0,0,0,0.5);
}
.container-detailed a{
    padding-right: 4px;
}
.title{
    text-align: center;
    max-width: 100%;
}   









.detailed .code{
    margin: 1em;
    padding: 1em;
    background-color:#0e111a;
}
.detailed code{
    color: #a3a9b3;
    src: url(../fonts/consola.ttf);
    font-family: "consolas";
    font-size: small;
}

.detailed img{
    height: 236px;
    width: auto;
    max-width: 100%;
}
/*
    border: 1px solid #e5e9ef;
    margin-left: 1em;
    padding-left: 1em;
    padding: 1em;
    margin-right: 1em;
*/


h7{
    margin-bottom: 1em;
}
h8{
    font-size: small;
}


.Comments{
    background-color: #fff;
    margin-top: 1em;
    padding: 0.8em 10pt 5pt 5pt;
    margin-bottom: 1em;
}
.Comments-header{
    display: flex;
}
.Comments-header img{
    height: 48px;
    width: 48px;
    border-radius: 50%;
    box-shadow: 2px 2px 15px 0px rgb(0 0 0 / 50%);
}
.Comments-header-detailed{
    margin-left: 10px;
    display: grid;
}
.Comments-Sendarea{
    margin-top: 1em;
}
.Comments-Sendarea-emoji{
    margin-bottom: 1em;
    width: max-content;
    height: max-content;
    border: 1px solid #ccc;
    padding: 1px;
    padding-right: 2px;
    border-radius: 5px;
}
.Comments-Sendarea-Text{
    width: 100%;
    height: 5em;
}
.Comments-Sendarea-User{
    
    display: flex;
    border: 1px solid #ccc;
    width: 100%;
    align-items: center;
}
.Comments-Sendarea-User-Text{   
    margin-left: 1px;
    width: 100%;
}
.Comments-Sendarea-User textarea{
    display: flex;
    height: 30px;
    line-height: 30px;
    border: 0;
    align-items: center;
    padding: 0

}
.Comments-Sendarea-User-Icon{
    background: #eee;
    border-right: 1px solid #ccc;
    padding: 8px 10px 8px 10px;
}
.need{
    width: 1em;
    color: #ccc;
}





.Comments-Sendarea-Email{
    margin-top: 1em;
    margin-bottom: 1em;
    display: flex;
    border: 1px solid #ccc;
    width: 100%;
    align-items: center;
}
.Comments-Sendarea-Email-Text{
    margin-left: 1px;
    width: 100%;
}
.Comments-Sendarea-Email textarea{
    display: flex;
    height: 30px;
    line-height: 30px;
    border: 0;
    align-items: center;
    padding: 0
}
.Comments-Sendarea-Email-Icon{
    background: #eee;
    border-right: 1px solid #ccc;
    padding: 8px 8px 8px 8px;
}


.Comments-Sendarea-Send{
    margin-bottom: 1em;
    background-color: #51aded;
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.Comments-Sendarea-Send span{
    font-size: large;
    color: white;
}











.Comments section div{
    padding: 5pt;
}
.Comments .Text{
    margin-left: 1em;
}
.Comments-header-detailed .Name{
    font-style: normal;
    font-size: larger;
}
.Comments-header-detailed .Time{
    font-style: normal;
    font-size: small;
}
.Reply{
    text-align:end;
    padding-right: 1em;
}
.Reply a{
    background-color: #e5e5e5;   
    border: 1px solid;
    padding: 1px;
    font-size: small;
    border-radius: 2.5px;
}








